 
 .topBar{
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 360px;
 }
 .usertitle {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    margin-left: 20px;
}
.closeIcon{
    margin-left: 40px;
}
.cardWrapper{
    /* height: 100vh; */
}
.minicard{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    color: #000;
    height: 638px;
    padding: 15px 8px;
    position: relative;
    margin: 55px 20px 20px 20px;
}
.mainCardTop{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.firstname{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: -.5px;
    line-height: 36px;
    max-width: 350px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    margin-top: 25px;
}
.lastname{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .3px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 5px;
    text-align: center;
    color: #fff;
}
.save_button_mini {
    background: #fff;
    bottom: 0;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
.save_button_mini_button {
    border: 1px solid #e72d38;
    border-radius: 33px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0;
    padding: 12px;
    width: 100%;
    background-color: #e72d38;
    color: #fff;
}
.titledesignation{
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
}
.address{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 22px;
    margin-top: 5px;
    color: #fff;
    font-family: AvenirNextLTPro-Medium,sans-serif;
}
.badges{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.badge {
    background: #fff;
    border-radius: 50%;
    height: 32px;
    margin: 0 4px;
    overflow: hidden;
    width: 32px;
}
.badgeimg {
    height: 30px;
    pointer-events: none;
    width: 31px;
}
.bottomoptions {
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 65px;
    gap: 10px;
    left: 0;
    position: absolute;
    right: 0;
}
 .optionwrapper {
    background: hsla(0,0%,100%,.2);
    border-radius: 10px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.optionwrapperimg {
    height: 20px;
    pointer-events: none;
    width: auto;
}
.outerdiv {
    background: #fff;
    border-radius: 12px 12px 0 0;
    bottom: 0;
    margin: 0 20px;
    padding: 20px 24px;
    position: fixed;
    width: 100%;
    max-width: 336px;
    text-align: left;
}